<nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
    <div class="aui-header-inner">
        <div class="aui-header-primary">
                <ul class="aui-nav">
                        <li><a href="http://example.com/">{{userName}}</a></li>
                        <li><a href="http://example.com/">ongoing events</a></li>
                        <li><a>logs</a></li>
                </ul>
        </div>
    </div>
</nav>
 
