<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    
    <!--<script type="text/javascript" src="https://livejs.com/live.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js"></script>


	<!--  AUI Core -->
	<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css" media="all">

	<!-- AUI Experimental components -->
	<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui-experimental.min.css" media="all">
	<link rel="stylesheet" href="/css/styles.css" media="all">
</head>

<body>
    <header id="header" role="banner">
        {{>header}}
    </header>

    <div class="appView">
            <div class="leftPanel"> 
                <ul>
<li>Events (show as events as a list of cards with a search bar, and various facets + create/edit/delete button)</li>
<li>Manage Widgets (lets you edit/create/delete event views)</li>
<li>New page - lets you create a new page, on which you can drop views</li>
<li>Actions - actions can be triggered by events starting, ending, and they can 
trigger events, or make other events change state</li>
</ul>
</div>

            <div class="pageContainer">
             {{{body}}}
            </div>
        </div>
    </div>
   </div>
  <footer id="footer" role="contentinfo">
        {{>footer}}
  </footer>


    <script src="/js/lib/bundle.js"></script>
</body>
</html>
