

{{>page/eventDialog}}
<h1>{{>page/title}}</h1>


<HR>
<TABLE ID="calendarTable" class="aui">
<thead>
<TR>
    <TH><button id="dialog-show-button" class="aui-button">Add an event</button></TH>
    <TH><span id="select-previous-month" 
                class="aui-icon aui-icon-large aui-iconfont-arrows-left monthSelector">Insert meaningful text here for accessibility</span></TH>
    <TH ID="tableHeader" COLSPAN=4></TH>
    <TH><span id="select-next-month" 
                class="aui-icon aui-icon-large aui-iconfont-arrows-right monthSelector">Insert meaningful text here for accessibility</span></TH>
</TR>
<TR>
    <TH scope="col">Sun</TH><TH scope="col">Mon</TH><TH scope="col">Tue</TH><TH scope="col">Wed</TH>
<TH scope="col">Thu</TH><TH scope="col">Fri</TH><TH scope="col">Sat</TH></TR>
<TBODY ID="tableBody"></TBODY>
<TR>
</thead>
    <TD COLSPAN=7>
    <FORM name="dateChooser" ID="dateChooser" class="aui">
        <SELECT ID="chooseMonth" name="chooseMonth">
            <OPTION SELECTED>January<OPTION>February
            <OPTION>March<OPTION>April<OPTION>May
            <OPTION>June<OPTION>July<OPTION>August
            <OPTION>September<OPTION>October
            <OPTION>November<OPTION>December
    </SELECT>
    <SELECT NAME="chooseYear">
    </SELECT>
    </FORM>
   </TD>
</TR>
</TABLE>

<script src="/js/calendarSettings.js"></script>
<script src="/js/dateUtils.js"></script>
<script src="/js/events.js"></script>
<script src="/js/eventUtils.js"></script>
<script src="/js/main.js"></script>
