
<div class="page">
<h1>This is a Bambi Container</h1>

<div class="bambiContainer">
    <div class="bambiCalendarDayCell">content</div>
    <div class="bambiCalendarDayCell">content</div>
    <div class="bambiCalendarDayCell">content</div>
    <div class="bambiCalendarDayCell">content</div>
    <div class="bambiCalendarDayCell">content</div>
</div>

    <P> 
    It contains 5 <a>calendar days</a> Each span covers a length of time, in this case, 
    those are days. 
    </P>
<h1>Events</h1>

    <div class="bambiEvent">
    </div>

<h1>Spans</h1>

<P>
    A  time span represents a length of time...months, weeks, minutes, 
    it doesn't matter. From seconds to Eons and milleniums!!!
</P>

<P>bambi let's your organization harness the power of automation for a fraction of the price of a consultant. 
Check out our use cases, examples, and various real-life scenario. Click on the icons below to see how the 
following companies use bambi to make their processes more responsive and save time and effort by automating
mundane tasks. 
<h1>Chains</h1>

<div class="bambiContainer"></div>

<p>you might also create event chains. Event chains are groups of events that are linked in predefined way. 
An event chain can be: 
<ul>
<li>a calendar          - events are triggered by times/dates
<li>an event sequence   - events are arranged in series, each next event triggered when the previous one goes off 
<li>an event machine    - a finite state machine of events. More complex, but more flexible. Each node is an event
<li>an event bomb       - event bombs are a group of events that are bundled so they go on or off 
                          all at the same time. Event bombs are themselves events
</ul>
All event chains are themselves events as well. 

<h1>Event Views</h1>
<p>for each event chain, you might drop a view. A view can be: 

<ul>
<li>a calendar view
<li>a event chain view
<li>an event machine
<li>time series, 
<li>an event list (a bunch of cards with event properties that appear in sequence)
<li>an event table - events are arranged as rows in a table, with search, filters, nd so forth. Makes them 
easy to edit in batch
</ul>




</div>



<div class="page">




Each view type has controls to let you create/edit/insert/delete events
<p> you might create new events, or share events with other people, or import event from other people

<h1>Actions</h1>
Actions might 
<ul>
<li>create/edit or trigger new events, 
<li>email someone 
<li>send you a text reminder, warning
<li>report something, 
<li>get data, 
<li>post information, 
<li>analyze information 
</ul>

<h1>Connecting to data sources</h1>
bambi lets you connect to hundreds of data source to let you to automatically extract information
</div>



