<h1>This is an event page</h1>

<P>bambi let's your organization harness the power of automation for a fraction of the price of a consultant. 
Check out our use cases, examples, and various real-life scenario. Click on the icons below to see how the 
following companies use bambi to make their processes more responsive and save time and effort by automating
mundane tasks. 
<table><tr>
<td>weirdWorld</td><td>beads</td><td>pardners</td>
</tr></table>

<h1>Events</h1>
<p> events can be public, private, or shared within a group. Events have: 
<ul>
    <li>state       : on, off - an event is always in one of those 2 states
    <li>triggers    : that make the event change state
    <li>actions     : actions are executed when the event changes state
</ul>

<h2>States and triggers</h2>
<P> An event is always in one of two states: on or off. 
    When events change states, we say they're triggered. 
    Events can be triggered by:
    <ul>
    <li>    a time frequency function - for example every Friday at 7PM, or every 5 minutes, or once a year
    <li>    some other event changing state 
    <li>    date/time - for example, a calendar event
    <li>    manually, using our many event controls. You can trigger events by pushing buttons, 
            making selections, changing values, by text, email, or even phone 
    <li>    Changes in a data source - for example if the price of a share drops below a certain value, or 
            if the temperature in Mexico reaches a given threshold. Bambi lets you define monitors that 
            query data from external sources
    <li>    logical combinations of triggers - for example, you can define Trigger A as [TriggerB AND TriggerC]
    </ul>
<p>Bambi gives you the ability to create a quasi-infinity of triggers

<h1>Event Factories</h1>
<p>Bambi also lets you define factories. A factory lets you create new event based on a template. For example, 
events created by a promotion factory might post to various social media and send emails to a list when 
they go on. 

<h1>Event Chains</h1>
<p>you might also create event chains. Event chains are groups of events that are linked in predefined way. 
An event chain can be: 
<ul>
<li>a calendar          - events are triggered by times/dates
<li>an event sequence   - events are arranged in series, each next event triggered when the previous one goes off 
<li>an event machine    - a finite state machine of events. More complex, but more flexible. Each node is an event
<li>an event bomb       - event bombs are a group of events that are bundled so they go on or off 
                          all at the same time. Event bombs are themselves events
</ul>
All event chains are themselves events as well. 

<h1>Event Views</h1>
<p>for each event chain, you might drop a view. A view can be: 

<ul>
<li>a calendar view
<li>a event chain view
<li>an event machine
<li>time series, 
<li>an event list (a bunch of cards with event properties that appear in sequence)
<li>an event table - events are arranged as rows in a table, with search, filters, nd so forth. Makes them 
easy to edit in batch
</ul>

Each view type has controls to let you create/edit/insert/delete events
<p> you might create new events, or share events with other people, or import event from other people

<h1>Actions</h1>
Actions might 
<ul>
<li>create/edit or trigger new events, 
<li>email someone 
<li>send you a text reminder, warning
<li>report something, 
<li>get data, 
<li>post information, 
<li>analyze information 
</ul>

<h1>Connecting to data sources</h1>
bambi lets you connect to hundreds of data source to let you to automatically extract information




