@import "appView.css"; 

:root{
	--coquilleOeuf: #95cee4;
	--flore: #b193c1;
  --rouille: #ad4c24;
  --warmGray2: #e7e1da;
}

body{
  overflow: hidden;
}

section.pageContainer {
  display: flex;
  flex-direction: column;

  overflow: hidden !important;
  background-color: red;
  margin:0; 
  padding:0; 
}
.pageContainer>.page{
  width:100%; 
}
.page{
  background-color:orange ; 
  height:90vh ; 
  max-height:100vh ;
  padding-left:10px ; 
  padding-right: 10px ;
  overflow: hidden ; 
}

.page div.bambiContainer{
  width:100%; 
}

.bambiContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:30vw ;
  min-width:30vw ;
  min-height:10vh ;
  background-color: orange ; 
  overflow-x:hidden;
  border: 5px solid red;
}


.bambiContainer >div.bambiCalendarDayCell{
  background-color: white;
  border-right: 1px solid black; 
  min-width:20%; 
  min-height:10%; 
}

#calendar-container-header{
   border:2px solid blue;
}
#calendar-container-header THEAD TR TH{
	background-color:#55833B;
	border:none;
	color:white;
} 
#calendar-sidebar{
     padding-left: 10px; 
     background-color:white;
     float:left;
     width:19%;
 }
#sidebar-inner{
  text-align:center
}

#filter-pane{
  text-align:left
}

#calendar-table-container{
    float:right;
    background-color:red;
    width:80%;
}

#calendar-table{
    table-layout: fixed;
    background-color:var(--warmGray2);
    border-collapse: collapse;
    overflow: hidden;
    margin:0;
    padding:0;
}

#calendar-table-header{
      background-color:#D97a33;
}
#tableCalendar-title{
  background-color:inherit;
}
#tableCalendar-title H1{
  background-color:inherit;
  color:var(--warmGray2);
}
#calendar-table-weekdays-labels TD{
      color:white;
      height:30px;
      font-family: verdana, Times, serif;
      font-weight: bold;
      width:14.2%;
}
#calendar-table-body {
  height:100%
}

#calendar-table-body TR{
	height:70px
}

.monthDay {
	background-color:var(--coquilleOeuf);
}

.today {
	background-color:var(--rouille);
	color:white;
}

.nonMonthDay {
  background-color:brown;
  color:grey;
}


.dayCellHeader {
  width: 90%;
  padding-top:5px;
  padding-bottom:5px;
}

.dayLabel {
  width:30%;
  float:left;
}
.dayCommands {
  width:55%;
  margin-left:15px;
  padding-left:10px;
  float:right;
  text-align: right;
}

.appControlButton{
  cursor: pointer; 
}

/* event related styles */
.dayEventsPane {
  color:brown
}

.dayEvent {
  background-color:yellow;
  border-color: red; 
  border-width:1px;
  border-style:solid;
  padding-left:2px;
  margin-top:1px; 
}
.dayEvent a{
  color:#55833b;
}
.expandEventsLink{
  margin-top:5px;
  cursor: pointer;
}
.dayEventsPane .collapsedDayEvents{
  display: none;
}
.event-edit-btn{
   cursor: pointer;
   padding-left:4px;
 }
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .appView>div.leftPanel{
    display: block;
    min-height: 100%;
    height: 100%;
    width:15vw;  
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .appView {
    background-color: blue;
    left:0;
    top:5vh; 
  }

  .leftPanel{
  }

  appView div.pageContainer{
    width:90vw;
  }

  div.pageContainer {
    display: flex;
    flex-direction: row;
  }

  .pageContainer >div.page {
    width:50%;
  }
}