
:root{
	--coquilleOeuf: #95cee4;
	--flore: #b193c1;
  --rouille: #ad4c24;
  --warmGray2: #e7e1da;
}

#calendar-container{
   min-height:700px;
   overflow-x:hidden;
   border: 5px solid red;
   position:static;
   left:0px;
   right:0px;
}

#calendar-container-header{
   border:2px solid blue;
}
#calendar-container-header THEAD TR TH{
	background-color:#55833B;
	border:none;
	color:white;
} 
#calendar-sidebar{
     padding-left: 10px; 
     background-color:white;
     float:left;
     width:19%;
 }
#sidebar-inner{
  text-align:center
}

#filter-pane{
  text-align:left
}

#calendar-table-container{
    float:right;
    background-color:red;
    width:80%;
}

#calendar-table{
    table-layout: fixed;
    background-color:var(--warmGray2);
    border-collapse: collapse;
    overflow: hidden;
    margin:0;
    padding:0;
}

#calendar-table-header{
      background-color:#D97a33;
}
#tableCalendar-title{
  background-color:inherit;
}
#tableCalendar-title H1{
  background-color:inherit;
  color:var(--warmGray2);
}
#calendar-table-weekdays-labels TD{
      color:white;
      height:30px;
      font-family: verdana, Times, serif;
      font-weight: bold;
      width:14.2%;
}
#calendar-table-body {
  height:100%
}

#calendar-table-body TR{
	height:70px
}

.monthDay {
	background-color:var(--coquilleOeuf);
}

.today {
	background-color:var(--rouille);
	color:white;
}

.nonMonthDay {
  background-color:brown;
  color:grey;
}


.dayCellHeader {
  width: 90%;
  padding-top:5px;
  padding-bottom:5px;
}

.dayLabel {
  width:30%;
  float:left;
}
.dayCommands {
  width:55%;
  margin-left:15px;
  padding-left:10px;
  float:right;
  text-align: right;
}

.appControlButton{
  cursor: pointer; 
}

/* event related styles */
.dayEventsPane {
  color:brown
}

.dayEvent {
  background-color:yellow;
  border-color: red; 
  border-width:1px;
  border-style:solid;
  padding-left:2px;
  margin-top:1px; 
}
.dayEvent a{
  color:#55833b;
}
.expandEventsLink{
  margin-top:5px;
  cursor: pointer;
}
.dayEventsPane .collapsedDayEvents{
  display: none;
}
.event-edit-btn{
   cursor: pointer;
   padding-left:4px;
 }
