<script>
AJS.toInit(function($){
       AJS.$("#dialog-cancel-button").click(function (e) {
        AJS.dialog2("#event-dialog").hide();
       });
       AJS.$("#dialog-submit-button").click(function (e) {
           let beginDate = $("#begin-date").val(),
               endDate = $("#dateEnd").val(),
               eventName = $("#eventName").val(),
               eventDesc = $("#descr").val();

           e.preventDefault();
           if(eventName.length < 1 ){
             AJS.flag({
               type:'error',
               title: 'You must provide a name for the event',
               body: "An event name is necessary to create a new event"
             });
             AJS.dialog2("#demo-dialog").hide();
             return;
           }
           dateUtils.setSeparator("-");
           if(dateUtils.dayStampToDate(endDate) < dateUtils.dayStampToDate(beginDate)){
             AJS.flag({
               type:'error',
               title: 'Invalid end date',
               body: 'The end date for your event should be after or on the start date',
             });
             AJS.dialog2("#demo-dialog").hide();
             return; //exit create event without creating an event
           }
           if(AJS.$("#event-id").text().length > 0){
             alert("Editing existing event " + AJS.$("#event-id").text());
           }
           else{
           console.log("creating a new event from " + beginDate + " to " + endDate);
           }
           AJS.dialog2("#demo-dialog").hide();
       });
});
</script>

<section id="event-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="event-dialog-action">Create a new event</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
      <form class="aui">
        <fieldset>
            <div class="field-group">
              <label for="d-fname">Event Title<span class="aui-icon icon-required"> required</span></label>
              <input class="text" type="text" id="event-dialog-title" name="d-fname">
              <div class="description">Description of event</div>
            </div>
            <div class="field-group">
                <label for="begin-date">When<span class="aui-icon icon-required"> required</span></label>
                <input id="event-dialog-begin-date" type="date" /> to
                <input id="event-dialog-end-date" type="date" />
            </div>
<div class="field-group">
            <label for="dBase">Event Type</label>
            <select class="select" id="dBase" name="dBase" title="database select">
                <option>Event</option>
                <option>Leave</option>
                <option>JIRA Issue Dates</option>
                <option>JIRA Agile Sprints</option>
            </select>
        </div>
<div class="field-group">
            <label for="descr">Description</label>
            <textarea class="textarea" rows="6" cols="10" name="descr" id="event-dialog-description"></textarea>
        </div>
          </fieldset>
       </form>

 </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
          <button id="dialog-cancel-button"  class="aui-button">Cancel</button>
          <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
        </div>
    </footer>
</section>
